html {
  background-color: black;
}

.circle {
  position: absolute;
  left: 0;
  background-color: coral;
  width: 80px;
  height: 80px;
  display: block;
  top: 100px;
  radius: 50%;
}


@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: 720px;
  }
  100% {
    left: 0;
  }
}