html {
  background-color: black;
}

.circle {
  position: absolute;
  background-color: #FFFAFA;
  width: 80px;
  height: 80px;
  display: block;
  top: 200px;
  border-radius: 50%
}

@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}