.circle {
  position: absolute;
  left: 0;
  background-color: red;
  width: 80px;
  height: 80px;
  display: block;
	top: 100px;
}


@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: 720px;
  }
  100% {
    left: 0;
  }
}