html {
    background-color: black;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    left: 0;
    display: block;
      top: 0;
    animation-timing-function: ease;
    }
.one-point-five {
    animation: ani 1.5s infinite;
}
  
  @keyframes ani {
    0% {
      left: 10%;
    }
    50% {
      left: 80%;
    }
    100% {
      left: 10%;
    }
  }
  